<!-- Footer -->
<footer class="footer bg-dark dark-mode pt-5 pb-4 pb-lg-5">
  <div class="container text-center pt-lg-3">
    <div class="navbar-brand justify-content-center text-dark mb-2 mb-lg-4">
      <img src="/img/logo512.png" class="me-2" width="60" alt="Pritunl">
      pritunl
    </div>
    <ul class="nav justify-content-center pt-3 pb-4 pb-lg-5">
      <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="https://zero.pritunl.com" class="nav-link">Pritunl Zero</a></li>
      <li class="nav-item"><a href="https://docs.pritunl.com/docs/endpoint" class="nav-link">Docs</a></li>
    </ul>
    <div class="d-flex justify-content-center pt-4 mt-lg-3">
      <a href="https://github.com/pritunl" class="btn btn-icon btn-secondary btn-github mx-2">
        <i class="bx bxl-github"></i>
      </a>
      <a href="https://twitter.com/pritunl" class="btn btn-icon btn-secondary btn-twitter mx-2">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>
    <p class="nav d-block fs-sm text-center pt-5 mt-lg-4 mb-0">
      <span class="text-light opacity-60">Pritunl, Inc &copy; 2022</span>
    </p>
  </div>
</footer>