<main class="page-wrapper hero">
  <section class="dark-mode bg-dark bg-img0 bg-size-cover bg-repeat-0 bg-position-center position-relative overflow-hidden py-5 mb-4">
    <div class="container position-relative zindex-2 pt-5 pb-md-2 pb-lg-4 pb-xl-5">
      <div class="row pt-3 pb-2 py-md-4">
        <div class="col-xl-5 col-md-6 pt-lg-5 text-center text-md-start mb-4 mb-md-0">
          <h1 class="display-3 pb-2 pb-sm-3">Pritunl Endpoint</h1>
          <p class="fs-lg d-xl-block pb-2 pb-md-0 mb-4 mb-md-5">Open source simple system monitoring with charting and SMS alerts. Available in free version of Pritunl Zero.</p>
          <div class="d-flex justify-content-center justify-content-md-start pb-2 pt-lg-2 pt-xl-0">
            <a href="https://admin-zero-demo.pritunl.com" class="btn btn-lg btn-primary shadow-primary me-3 me-sm-4">Live Demo</a>
            <a href="https://docs.pritunl.com/docs/endpoint" class="btn btn-lg btn-outline-secondary">Get Started</a>
          </div>
        </div>
        <div class="col-xl-7 col-md-6 pt-lg-5 justify-content-end">
          <img src="/img/endpoint_short.webp" alt="Pritunl Endpoint">
        </div>
      </div>
    </div>
  </section>
  <section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <h2 class="h1 text-center mx-auto mt-n2 mt-sm-0 pt-md-2">Simple Monitoring</h2>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-5">
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Zero endpoint configuration required</span>
      </li>
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Built in automatic charting</span>
      </li>
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>View all endpoint information from one page</span>
      </li>
    </ul>
    <div class="position-relative px-4 px-sm-5 mb-3 mb-md-4">
      <img src="/img/endpoint_full.webp" alt="Endpoint View">
    </div>
  </section>
  <section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <h2 class="h1 text-center mx-auto mt-n2 mt-sm-0 pt-md-2">Fast Charting</h2>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-5">
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Fast charting with configurable intervals</span>
      </li>
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Handle 50+ disks or network interfaces in one chart</span>
      </li>
    </ul>
    <div class="position-relative px-4 px-sm-5 mb-3 mb-md-4">
      <img src="/img/endpoint_chart_tooltip.webp" alt="Endpoint Chart">
    </div>
  </section>
  <section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <h2 class="h1 text-center mx-auto mt-n2 mt-sm-0 pt-md-2">System Logs</h2>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-5">
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Quick live access to system dmesg logs</span>
      </li>
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Keyword matching SMS alerts for dmesg output</span>
      </li>
    </ul>
    <div class="position-relative px-4 px-sm-5 mb-3 mb-md-4">
      <img src="/img/endpoint_kmsg.webp" alt="Dmesg Log">
    </div>
  </section>
  <section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <h2 class="h1 text-center mx-auto mt-n2 mt-sm-0 pt-md-2">HTTP Health Checks</h2>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-5">
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Configure HTTP health checks from the perspective of each endpoint</span>
      </li>
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Configurable SMS alerts when health check fails on any endpoint</span>
      </li>
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Charting for target latency and detailed error logs</span>
      </li>
    </ul>
    <div class="position-relative px-4 px-sm-5 mb-3 mb-md-4">
      <img src="/img/endpoint_check.webp" alt="Health Checks">
    </div>
  </section>
  <section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <h2 class="h1 text-center mx-auto mt-n2 mt-sm-0 pt-md-2">SMS Alerts</h2>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-5">
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Configurable alert thresholds</span>
      </li>
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Set alert levels for each phone</span>
      </li>
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>SMS and phone call alerts</span>
      </li>
    </ul>
    <div class="position-relative px-3 px-sm-5 mb-2 mb-md-3">
      <img src="/img/endpoint_alert.webp" alt="SMS Alerts">
    </div>
  </section>
  <section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <h2 class="h1 text-center mx-auto mt-n2 mt-sm-0 pt-md-2">System Updates</h2>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-5">
      <li class="d-flex fs-xl mx-3 mt-2 mt-sm-3">
        <i class="bx bx-check lead text-primary mt-1 me-2"></i>
        <span>Quickly view endpoints that have system updates available</span>
      </li>
    </ul>
    <div class="position-relative px-3 px-sm-5 mb-2 mb-md-3">
      <img src="/img/endpoint_updates.webp" alt="System Updates">
    </div>
  </section>
  <section class="container mb-4">
    <div class="dark-mode bg-dark bg-size-cover bg-position-center bg-repeat-0 position-relative overflow-hidden rounded-3 py-lg-3 py-xl-5 px-4 px-lg-5 px-xl-0" style="background-image: url(/img/background2.jpg);">
      <div class="row position-relative zindex-2 py-5 my-1 my-md-3">
        <div class="col-md-6">
          <div class="mx-auto" style="max-width: 440px;">
            <h2 class="h1 pb-1 pb-md-3 pb-lg-4">Get started with Pritunl Endpoint</h2>
            <ul class="list-unstyled fs-lg d-md-none pb-3">
              <li class="d-flex mb-2">
                <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                Install and configure in minutes
              </li>
              <li class="d-flex mb-2">
                <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                Zero additional costs for each endpoint
              </li>
              <li class="d-flex mb-2">
                <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
                Included as part of Pritunl Zero
              </li>
            </ul>
            <a href="https://docs.pritunl.com/docs/endpoint" class="btn btn-lg btn-primary shadow-primary w-100 w-sm-auto">Get Started Now</a>
          </div>
        </div>
        <div class="col-md-6 pt-lg-3 pt-xl-4">
          <ul class="list-unstyled fs-lg d-none d-md-block">
            <li class="d-flex mb-2">
              <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
              Install and configure in minutes
            </li>
            <li class="d-flex mb-2">
              <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
              Zero additional costs for each endpoint
            </li>
            <li class="d-flex mb-2">
              <i class="bx bx-check lead text-primary me-2" style="margin-top: .125rem;"></i>
              Included as part of Pritunl Zero
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>