<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="description" content="Open source system monitoring with charting and SMS alerts">
  <meta name="keywords" content="endpoint monitoring, open source endpoint monitoring">
  <meta name="author" content="Pritunl">

  <meta property="og:description" content="Open source system monitoring with charting and SMS alerts"/>
  <meta property="og:image" content="https://endpoint.pritunl.com/img/logo.png"/>
  <meta property="og:site_name" content="Pritunl Endpoint"/>
  <meta property="og:title" content="Open source system monitoring with charting and SMS alerts"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://endpoint.pritunl.com/"/>

  <meta name="twitter:card" content="app"/>
  <meta name="twitter:site" content="@pritunl"/>
  <meta name="twitter:domain" content="Pritunl"/>
  <meta name="twitter:creator" content="@pritunl"/>
  <meta name="twitter:image:src" content=""/>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="60x60" href="img/logo60.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="img/logo76.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="img/logo120.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="img/logo152.png"/>
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7736912/7555632/css/fonts.css"/>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fredoka+One">

  <link rel="stylesheet" media="screen" href="css/boxicons.min.css"/>
  <link rel="stylesheet" media="screen" href="css/theme.min.css">
  <link rel="stylesheet" media="screen" href="css/main.css">
</head>

<body>
{{ content }}

<a href="#top" class="btn-scroll-top" data-scroll>
  <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
  <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/smooth-scroll.polyfills.min.js"></script>
<script src="js/theme.min.js"></script>
</body>
</html>
